.container{
    width: 996px;
    margin: auto;
}

#fizz-buzz::after {
    content: '';
    display: table;
    clear: both;
}

#fizz{
    color: blue;
    float: left;
    width: 33%;
    display: flex;
    flex-direction: column;
}

#buzz{
    color: orange;
    float: left;
    width: 33%;
    display: flex;
    flex-direction: column;
}

#fizzbuzz{
    color: red;
    float: left;
    width: 33%;
    display: flex;
    flex-direction: column;
}

span{
    text-align: center;
}

.numero{
    color: black;
}
